@import "tailwindcss";

:root {
  --background: #dcc1c1;
  --foreground: #171717;
}

[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

[data-theme='light'] {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}
